body{
    color:rgb(116, 68, 194);
    background:rgb(187, 31, 96);
    margin:0px;
    font-family:"Libre Baskerville",sans-serif; 
    
}

header{
    border-bottom: solid 2px black;
    padding:20px;
    font-size: 32px;
    color:white
}



section{
    background: pink;
    padding-bottom: 80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}
.chamada--texto{
    margin-right: 5%;
}
h1{
    font-size:40px;
}
p{
    font-size:20px;
}
.categoria-videos{
 padding-left: 20px;
padding-rinht: 20px;
}
.categoria videos{
    display:flex;
    overflow-x:auto;
    gap:10px;
}
.categoria{
    padding-left:20px;
    padding-left:20px;
    margin-top:50px;
}
.categoria-videos img{
    opacity:0.5;
    height:200px
}
.categoria video img:houver{
    opacinty:1.0;
    border:1px solid pink;
}
.categoria h2{
    color:aqua;
}